#title{
  background-color: #ff4c68;
}
.container-fluid{
  padding: 3% 15%;
  padding-bottom: 6.5%;
}
.navbar{
  align-items: left;
  padding-left: 0px;
  padding-right: 20px;
}
.nav-item{
  padding-right: 18px;
  font-weight: "Montserrat-normal";
}
.download_button{
  margin: 5% 3% 5% 0;
}
.title_image{
  position: absolute;
  padding-top: 75px;
  left: 150px;
  width: 60%;
  transform: rotate(20deg);
}
.col-lg-6{
  padding-left: 75px;
}
h1{
  padding-top: 135px;
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
}
h2{
  font-family: font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.5;
  font-size: 2.5rem;
}
h3{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}
p{
  color: #8f8f8f;
}


#features{
  background-color: white;
  position: relative;
  padding: 7% 15%;
}
.infos{
  padding: 7%;
  text-align: center;
}
.fas{
  color: #ef8172;
  padding: 10%;
}
.fas:hover{
  color: #ff4c68;
}

#testimonials{
  color: white;
  text-align: center;
  background-color: #ef8172;
}

.carousel-item{
  padding: 7% 15%;
}

.testimonial-img{
  border-radius: 100%;
  width: 15%;
  margin: 20px;
}

#press{
  text-align: center;
  background-color: #ef8172;
  padding: 3%;
}

.press-img{
  width: 15%;
  margin: 20px 20px 50px;
}

/* //pricing */
#pricing{
  text-align: center;
  padding: 10%;
}
.pricing-column{
  padding: 3% 2%;
}

@media (max-width : 1111px) {
  #title{
    text-align: center;
  }
  .title_image{
    position: static;
    transform: rotate(0);
  }
}

#cta{
  text-align: center;
  background-color: #ff4c68;
  padding: 7% 20%;
}
.ctaa{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  padding-bottom: 3%;
  /* line-height: 1.5; */
  color: white;
}
#footer{
  text-align: center;
  padding: 7% 15%;
}
.social{
  padding: 20px 10px;
  color: black;
}
